head
  style.
    h1 {text-align: center;}
    <title>Our Restaurant</title>
h1 Our Restaurant 
hr
h2 Book your table 
br
img(src='abc.jpg' width='50%')
h2 Select Date and Time 
input#meeting-time(type='datetime-local' name='meeting-time' value='2018-06-12T19:30' min='2023-01-04T00:00' max='2023-09-30T00:00')
h2 Number of people 
input#tentacles(type='number' name='tentacles' min='1' max='10')
input(type='submit')
h3 If you want to book for more then 10 people then please contact us.